<div class="container-fluid show-objects padding">
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
      <% cache @product do %>
      <%= image_tag(@product.image_url, class: "img-zoom", data_zoom_image: @product.image_url) %>
       
      <div class="col-md-4 show-info">

        <h3><%= @product.name %></h3>
        
        <p>Material: <%= @product.description %></p>

        <p>Price: $<%= @product.price %></p>

<% end %>
        
        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %>

      </div>
  </div>
  </div>
</div>